{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">

        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Помощь</li>


            <li class="list-group-item list-group-item-light">Если вы обнаружили ошибку или нуждыетесь в помощи, пишите
                <a href='https://vk.com/ilya_mayorov_58'> сюда </a>
                или
                <a href='https://vk.com/ilya_mayorov_58'> сюда </a>
            </li>


        </ul>
    </div>
</div>
{% endblock %}