{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-sm-9">

    <div class="jumbotron">
        <h1>Приветик, Дружище!</h1>
        <p>Если ты думаешь что лучше всех разбираешься в мемах, то помогай другим познавать мем культуру!
            Всё же, если ты пришёл сюда за помощью, по оставляй свой вопросик! Кто-нибудь на него обязательно
            ответит!(Но это не точно)</p>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Есть вопрос?</h2>
            <p>Если у тебя есть вопросы, оставляй их тут. </p>
            <p><a class="btn btn-default" href="/add_question" role="button">Оставить вопрос »</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Я помогатор, дай помочь!</h2>
            <p>Рад тебя видеть мемолог, нажми на строчку чуть ниже и помоги другим! </p>
            <p><a class="btn btn-default" href="/questions/1/2" role="button">Помочь »</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Хочу поглазеть</h2>
            <p>Давай быстренько смотри чё по чём и займись уже делом!</p>
            <p><a class="btn btn-default" href="/questions/1/1" role="button">Ну-ка ну-ка »</a></p>
        </div><!--/span-->
    </div><!--/row-->
</div>

{% endblock %}