{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">

        <ul class="list-group">
            <li class="list-group-item list-group-item-dark" >О компании</li>


            <li class="list-group-item list-group-item-light">Этот сайт был возведён двумя бичами. Вот<a
                    href='https://vk.com/ilya_mayorov_58'> первый </a>. Вот <a href='https://vk.com/ilya_mayorov_58'>
                второй </a>. А пока на этом всё.
            </li>


        </ul>
    </div>
</div>
{% endblock %}