{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">

        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Главные требования к пользователям</li>


            <li class="list-group-item list-group-item-light">Во-первых не дури</li>
            <li class="list-group-item list-group-item-light">Не кради.</li>
            <li class="list-group-item list-group-item-light">Не убивай.</li>
            <li class="list-group-item list-group-item-light">Не прелюбодействуй.</li>
            <li class="list-group-item list-group-item-light">Не произноси ложного свидетельства на ближнего твоего.</li>

        </ul>
    </div>
</div>
{% endblock %}